body.loading {
  overflow: hidden;
  height: 100vh;
}

.loader {
  height: 100vh;
  width: 100%;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &__follow {
    position: absolute;
    background-color: peachpuff;
    height: 2px;
    left: 0;
    z-index: 2;
  }

  &__spread {
    position: absolute;
    background-color: peachpuff;
    width: 100%;
    left: 0;
    z-index: 2;
  }

  &__progress-bar {
    position: absolute;
    left: 0;
    background-color: rgba(255, 255, 255, 0.575);
    height: 2px;
  }
}
